APP_NAME=BlindInterview
NODE_ENV=development
SERVER_PORT=3000
DATABASE_URL=mongodb://localhost:27017/blindinterview
REDIS_URL=redis://localhost:6379
REDIS_TOKEN=
JWT_ACCESS_SECRET=your_access_secret
JWT_REFRESH_SECRET=your_refresh_secret
JWT_EMAIL_SECRET=your_email_secret
JWT_FORGOT_PASSWORD_SECRET=your_forgot_password_secret
SMTP_EMAIL=your@email.com
SMTP_USERNAME=your_smtp_username
SMTP_PASSWORD=your_smtp_password
SMTP_HOST=smtp.example.com
SMTP_PORT=587
FRONTEND_URL=http://localhost:3000
EXPRESS_RATE_LIMIT_ENABLED=true
EXPRESS_RATE_LIMIT_WINDOW_MS=900000
EXPRESS_RATE_LIMIT_MAX_REQUESTS=1000
RAZORPAY_KEY_ID=your_razorpay_key_id
RAZORPAY_KEY_SECRET=your_razorpay_key_secret
RAZORPAY_WEBHOOK_SECRET=your_razorpay_webhook_secret
CASHFREE_APP_ID=your_cashfree_app_id
CASHFREE_KEY_SECRET=your_cashfree_key_secret
WORLD_BANK_API_LINK=https://api.worldbank.org/v2/
EXCHANGE_RATE_API_LINK=https://api.exchangerate-api.com/v4/latest/USD
EXCHANGE_RATE_API_KEY=your_exchange_rate_api_key
API_KEY_COUNT=1
TOKEN_LIMIT=1000000
SAFETY_BUFFER=500
API_KEY_WINDOW_SIZE_MS=70000
API_KEY_MAX_REQUESTS_PER_WINDOW=13
API_KEY_DAILY_LIMIT=190
